html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 2.5vw;
    background: url('./images/CreditsBackground.png');
    background-size: cover;
}

.creditsTitle
{
    position: center;
    float: bottom;
    width: 20%;
    margin-left: 25%;
}

.imageOne
{
    position: relative;
    bottom: -250px;
    width: 20%;
    float: left;
    margin-left: 5%;
    left: 100px;
}

.imageOne img
{
    border-radius: 50%;
}

.imageOne p
{
    position: relative;
    width: 200px;
    text-align: center;
    bottom: 0px;
    left: 0px;
    color: white;
}

.imageTwo
{
    position: relative;
    bottom:-600px;
    width: 25%;
    float: left;
    right: 100px;
}

.imageTwo img
{
    border-radius: 50%;
}

.imageTwo p
{
    position: relative;
    width: 200px;
    text-align: center;
    bottom: 0px;
    left: 0px;
    color: white;
}

.imageThree
{
    position: relative;
    float: left;
    bottom:-250px;
    width: 25%;
    left:100px;
}

.imageThree img
{
    border-radius: 50%;
}

.imageThree p
{
    position: relative;
    width: 200px;
    text-align: center;
    bottom: 0px;
    left: 0px;
    color: white;
}

.imageFour
{
    position: relative;
    bottom:-600px;
    width: 5%;
    float: left;
    right: 150px;
}
.imageFour img
{
    border-radius: 50%;
}

.imageFour p
{
    position: relative;
    width: 200px;
    text-align: center;
    bottom: 0px;
    left: 0px;
    color: white;
}

.buttons
{
    text-align: left;
    padding-top: 125%;
    padding-left: 3%;
}