html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.buttons
{
    text-align: center;
    padding-top: 130%;
}

.main_menu
{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url('./images/Menu_background.png') no-repeat;
    display: table;
    top: 0;
    background-size: cover;
}