html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 2.5vw;
}

.score_board
{
    height: 100%;
    width: 100%;
    margin: auto;
    background:url('./images/HighscoreBackground.png');
    display: table;
    top: 0;
    background-size: cover;
}
.score{
    position: absolute;
    left: 30%;
    top: 30%;
}
.buttons
{
    text-align: left;
    padding-top: 142%;
    padding-left: 3%;
}